---
- name: Create required ansible-link directories on the NFS server
  hosts: nfs_server
  become: yes
  tasks:
    - name: Ensure necessary directories exist
      file:
        group: "nobody"
        owner: "nobody"
        path: "/mnt/nfs/ansible-link/{{ item }}"
        state: directory
        recurse: true
      with_items:
        - "group_vars"
        - "plays"
      when:
        - nfs

- name: Ensure ansible inventory file exists
  hosts: nfs_server
  become: yes
  tasks:
    - name: Ensure inventory file exists
      file:
        group: "nobody"
        owner: "nobody"
        path: "/mnt/nfs/ansible-link/hosts"
        state: touch
        mode: "0644"
      when:
        - nfs
    
- name: Deploy ansible-link
  hosts: ansible_link
  become: true
  tasks:
    - name: Deploy ansible-link
      ansible.builtin.import_role:
        name: dzangolab.ansible.ansible_link
