---
- name: Update ssh keys
  hosts: all

  tasks:
    - name: Read SSH keys
      ansible.builtin.set_fact:
        keys : "{{ keys | default([])  + [lookup('file', [ssh_key_folder, '/', item, '.pub'] | join(''))] }}"
      with_items:
        - "{{ ssh_keys }}"
    - name: Set SSH keys
      ansible.posix.authorized_key:
        exclusive: true
        key: "{{ keys | join(newline) }}"
        manage_dir: false
        state: present
        user: "{{ deploy_user }}"
      vars:
        newline: "\n"
