- name: Example playbook
  hosts: nfs_server
  become: yes
  tasks:
    - name: Create a example directory on the nfs server
      file:
        group: "nobody"
        owner: "nobody"
        path: "/mnt/nfs/ansible-link/{{ item }}"
        state: directory
        recurse: true
      with_items:
        - "example"
